// showing default values
$accentColor = #0079cc
$highlightColor = #FFA700
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

// Homepage
.hero h1 {
  display: none
}

#app .home .hero .action-button {
  background-color: $highlightColor;
  border-bottom-color: #dc9000;
}

// general
// Override the hover color
#app .content:not(.custom) a:hover {
  color: $highlightColor;
}

// sidebar
#app .active.sidebar-link {
  color: $highlightColor;
  border-left-color: $highlightColor;
}